.h2Comparator {
  color: #222 !important;
  font-weight: 100 !important;
  display: block;
  font-size: 1.5em !important;
  display: -webkit-inline-box;
}

.selectComparator{
  width: 200px;
  display: block;
  float: right;
}
