.layoutContent {
    padding: 0px 24px 24px;
}

.generalContent {
    background: rgb(255, 255, 255) !important;
    padding: 24px !important;
    min-height: 280px !important;
    -webkit-max-logical-height: max-content;
    margin: 0 !important;
    margin-top: 24px !important;
}