.formChangePassword {
    max-width: 600px;
    margin: 0px auto;
}

.formItemChangePassword {
    margin-bottom: 3rem;
}

.formItemChangePassword-2 {
    width: 75%;
    text-align: center;
}

.buttonChangePassword {
    width: 40%;
}